/* 전체 화면 크기 조정 */
* {
  margin: 0;
  padding: 0;
}

/* header 영역 (임시) */
header {
  border: 1px solid black;
  background-color: #D96073;
  width: 100%;
  height: 100px;
}

/* main 영역 */
.itAskBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* 디데이 담기는 박스 */
.lch-linuxMaster-day{
  border: 1px solid #D96073;
  background-color: white;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content:center;
  position: sticky;
  top: 0;
}

/* 디데이 박스 너비 설정 */
.lch-linuxMaster-day-show{
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

/* main 안에 요소들이 담길 컨테이너 박스 (1200px 맞추기 위해 설정) */
.lch-linuxMaster-elements {
  width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 100px 0px;
}

/* 자격증 큰 글씨 */
.lch-linuxMaster-title {
  font-size: 50px;
  margin: 50px;
}

/* 자격증 태그 버튼 담은 박스 */
.lch-linuxMaster-tag {
  display: flex;
  justify-content: center;
}

/* 자격증 태그 버튼 */
.lch-linuxMaster-tag-btn {
  border: 1px solid #D96073;
  background: none;
  width: 170px;
  height: 45px;
  border-radius: 40px;
  padding: 10px 40px;
  margin: 20px 20px;
  cursor: pointer;
}

/* 선택된 버튼 */
.lch-linuxMaster-select {
  background: #D96073;
  color: white;
}

/* 자격증 카테고리 버튼 담은 박스 */
.lch-linuxMaster-category {
  /* border: 1px solid black; */
  width: 100%;
  height: 45px;
  display: flex;
  background: #DFDFDF;
}

/* 자격증 카테고리 버튼 */
.lch-linuxMaster-category-btn {
  width: 100%;
  border-radius: 0;
  border: none;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

/* 디데이 안에 들어가는 글과 링크되어있는 글 */
.lch-linuxMaster-day-title,
.lch-linuxMaster-day-link{
  color: #D96073;
  margin: 10px;
  font-size: 30px;
  font-weight: 300;
}

/* 링크되어있는 글 색상 */
.lch-linuxMaster-day-link{
  color: #ac394b;
}

/* 정처기 시험안내 글 본문 박스 */
.lch-linuxMaster-content {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 50px 0px;
}

/* 정처기 시험 일정, 응시자격, 시험구성 담은 박스 */
.lch-linuxMaster-content ,
.lch-linuxMaster-application,
.lch-linuxMaster-test{
  width: 100%;
  height: 100%;
  margin: 0px 0px 50px 0px;
}

/* 정처기 시험 일정, 응시자격, 시험구성  대제목 */
.lch-linuxMaster-content-title,
.lch-linuxMaster-application-title,
.lch-linuxMaster-test-title{
  font-size: 30px;
  margin: 20px 10px;
}

/* 시험 일정 테이블 담은 전체 박스 */
.lch-linuxMaster-table{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

/* 테이블 안의 공통 요소 */
.lch-linuxMaster-table-title, 
.lch-linuxMaster-table-content1,
.lch-linuxMaster-table-content2,
.lch-linuxMaster-table-content3{
  display: flex;
  list-style-type: none;
}
.lch-linuxMaster-table-element1,
.lch-linuxMaster-table-element2,
.lch-linuxMaster-table-element3,
.lch-linuxMaster-table-element4{
  border: 1px solid black;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 5px;
  display: flex;
}

/* 테이블 제목행 배경색 지정, 글자 굵게 표시 */
.lch-linuxMaster-table-title{
  background: #DFDFDF;
  font-weight: bold;
}

/* 
응시자격 - 학력 및 경력 요건, 기타 자격 제목 
시험구성 - 필기시험, 실기 시험 제목
*/
.lch-linuxMaster-application-sub-title1,
.lch-linuxMaster-other-sub-title2,
.lch-linuxMaster-write-sub-title1,
.lch-linuxMaster-skill-sub-title2{
  font-size: 20px;
  margin: 0px 0px 10px 20px;
}

/* 
응시자격 소제목 안 내용들
시험구성 소젝목 안 내용들
*/
.lch-linuxMaster-application-content1,
.lch-linuxMaster-other-content2,
.lch-linuxMaster-write-content1,
.lch-linuxMaster-skill-content2{
  margin: 0px 0px 20px 40px;
}


/* footer 영역 (임시) */
footer {
  border: 1px solid black;
  background-color: #D96073;
  width: 100%;
  height: 100px;
}