/* 내정보 수정하기 - 1.비밀번호 재입력 */
*{  padding: 0; margin: 0; }

.itAskBox{
  width: 1200px;
  margin: auto;
  text-align: center;
  color: #606060;
}
/* 로고 */
.itAskBox>a{
  width: 370px;
  display: block;
  margin: 200px auto 50px;    
}
.itAskBox>a>img{
  width: 100%;
}
.itAskBox>p{
  font-size: 40px;
  margin-bottom: 50px;
}
.itAskBox>p>span{
  font-size: 20px;
}
/* 비번입력 감싸는 폼태그그 */
.keh-pwCheck-pwForm{
  margin: auto;
  width: 486px;
  height: 70px;
  /* border: 1px solid #D96073; */
}
.keh-pwCheck-pwForm>div{
  width: 486px;
  position: relative;
  height: 70px;
}
/* 눈버튼 */
.keh-pwCheck-pwForm>div>img{
position: relative;
top: 10px;
right: -200px;
cursor: pointer;
}
/* 비번입력하는 실제 칸 */
.keh-pwCheck-pw{
  width: 436px;
  height: 70px;
  padding-left: 50px;
  border: 1px solid #dfdfdf;
  border-radius: 50px;
  position: absolute;
  left: 0px;
  font-size: 20px;
}
/* 버튼 */
.keh-pwCheck-pwBtn{
  width: 486px;
  height: 70px;
  background-color: #D96073;
  border-radius: 50px;
  border: none;
  margin-top: 30px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.keh-pwCheck-pwBtn:hover{
  color:#D96073;
  border: 1px solid #D96073;
  background-color: white;
  font-weight: bold;
}


