* {
  margin: 0;
  padding: 0;
}

nav {
  margin: auto;
}

.mtable {
  width: 60%; /* 너비를 좀 더 넓게 설정 */
  padding: 20px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head .title {
  font-size: 24px; 
  font-weight: bold;
}

.head .buttons button {
  margin-left: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #D96073;
  color: #DFDFDF; 
  border-radius: 20px;
  cursor: pointer;
}

hr {
  margin: 20px 0;
}

.memColumn.header {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 0;
}

.memColumn.header p {
  margin: 0 15px;
  text-align: center;
  width: 120px;
}

.memColumn.header .notice-title {
  width: 500px; 
  text-align: left;
}
.notice-title {
  width: 500px;
}
.memColumn {
  display: flex;
  flex-direction: row;  /* 기존의 가로 배치를 유지 */
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  background-color: #FFFFFF;
}

.memColumn p,
.memColumn input {
  margin: 0 15px;
  text-align: center;
}

.memColumn p {
  width: 120px;
}

.memColumn .notice-title {
  width: 500px; 
  text-align: left;
  cursor: pointer;
  font-weight: bold; 
}
.notice-text {
  position: absolute;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #606060;
  border-radius: 5px;
  font-size: 14px;
  display: none;  /* 기본적으로 숨겨짐 */
  background-color: #f4f4f4;
}

/* 페이지네이션*/
.pagination {
  text-align: center;
  margin: 50px auto;
  height: 100px;
}

.pagination a {
  align-content: center;
  width: 35px;
  height: 35px;
  display: inline-block;
  border-radius: 30px;
  margin: 0 5px;
  text-decoration: none;
  color: #606060;
  border: 1px solid #DFDFDF;
  cursor: pointer;
}

.pagination a:hover {
  font-weight: bold;
  background-color: #D96073;
  color: white;
  border: 1px solid white;
  transition: .3s;
}
