*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: initial;
}
.main-best{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.main-best>hgroup {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.best-reword{
  grid-template-columns: repeat(2,1fr);
  gap: 12px;
  display: grid;
}
.best-que,
.best-tip{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #dec1e5;
  border-radius: 16px;
  transition: border-color  .2s;
}

.best-over{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.best-img{
  display: flex;
  width: 100%;
  height: auto;
  object-fit: cover; /* 이미지가 부모컨테이너에 맞게 조정*/
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  position: relative;
}
.best-img-text{
  position: absolute;
  /* top: 90px;
  left: 20px; */
  z-index: 1;
  color: #ffffff;
  font-size: 9px;
  width: 20fr;
  font-weight: bold;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
}
.best-img-box{
  color: #0078ff;
  background-color: #ebf5ff;
}
a{
  text-decoration: none;
  cursor: pointer;
}
section{
  display: block;
  unicode-bidi: isolate;
}
