body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.main-click {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.main-title {
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 20px;
  color: #000;
}

.main-date {
  color: #D96073;
  text-decoration: none;
  font-weight: bold;
}

.main-clickbox {
  display: grid;
  grid-template-columns: repeat(8, 3fr);
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px; 
}

.button {
  width: 120px;
  height: 37px;
  background: #FFFFFF;
  border: 1px solid #D96073;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #AC394B;
  cursor: pointer;
  transition: transform 0.2s;
}

.button:hover {
  transform: scale(1.1);
  background: #FDECEC;
}

.main-interest {
  margin-top: 60px;
}
