/* 기본 스타일 */
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* 퀴즈 컨테이너 */
.main-pro-quiz-container {
  position: relative;
  width: 1040px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 오늘의 랜덤퀴즈 */
.main-pro-quiz-title {
  font-size: 15px;
  line-height: 20px;
  color: #000;
  cursor: pointer;
  text-decoration: underline;
}

/* 퀴즈 박스 */
.main-pro-quiz-box {
  box-sizing: border-box;
  position: relative;
  width: 1040px;
  height: 50px;
  background: #FFF;
  border: 1px solid #D96073;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* 퀴즈 질문 */
.main-pro-quiz-question {
  font-size: 15px;
  color: #000;
  cursor: pointer;
  text-decoration: underline;
}

/* 정답보기 버튼 */
.main-pro-answer-btn {
  background: #D96073;
  color: #FFF;
  border: none;
  border-radius: 50px;
  width: 120px;
  height: 30px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.main-pro-answer-btn:hover {
  background: #c35063;
}

/* 모달 스타일 */
.main-pro-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  /* 모달이 다른 요소 위에 표시되게 함 */
}

.main-pro-modal-content {
  background: #FFF;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 400px;
}

.main-pro-modal-question {
  font-size: 16px;
  color: #000;
  margin-bottom: 20px;
}

/* 모달 닫기 버튼 */
.main-pro-modal-close-btn {
  background: #D96073;
  color: #FFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.main-pro-modal-close-btn:hover {
  background: #c35063;
}
