/* 기본 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
}

.main-rank-list {
  padding: 20px;
  text-align: center;
}

.rank-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.rank-item {
  position: relative;
  width: 276px;
  height: 88px;
}

.rank-box {
  position: absolute;
  width: 276px;
  height: 88px;
  background: #DFDFDF;
  border-radius: 8px;
}

.rank-box-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.rank-user {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 14px;
  left: 18px;
  object-fit: cover;
}

.rank-text {
  position: absolute;
  top: 14px;
  left: 90px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.best-title, .best-reply, .best-mentor {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.rank-name {
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
}

.rank-name:hover {
  text-decoration: underline;
}

.monitor-icon{
  color: black;
}

.highlight-link {
  color: #D96073;
  font-weight: bold;
  text-decoration: underline;
  font-size: 15px;
}
/* 반응형 스타일 */
@media (max-width: 768px) {
  .rank-item {
    width: 90%;
  }
}
