*{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.main-notice{

}

.main-notice-head {
  background-color: #f4f4f4;
  padding: 10px;
  text-align: center;
}

.main-notice-button{
padding: 10px 20px;
font-size: 15px;
cursor: pointer;
}

.main-notice-body {
  padding: 20px;
}

.main-notice>h3 {
  text-align: center;
}

.main-notice-list {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.main-notice-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid#ddd;
  cursor: pointer;
  transition: 0.3s;
}

.main-notice-item:hover {
  background-color: #f9f9f9;
}

.main-notice:last-child {
  border-bottom: none;
}

.main-notice-category {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.main-notice-title {
  flex: 5;
}

.main-notice-date {
  flex: 2;
  text-align: right;
  color: #888;
}
