.main-ranking-body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-ranking-list {
  width: 400px;
  border: 2px solid #d96073;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
}

.main-ranking-list h1 {
  font-size: 24px;
  color: #ac394b;
  text-align: center;
  margin-bottom: 20px;
}

.main-ranking-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ranking-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.ranking-card .ranking {
  font-size: 20px;
  font-weight: 700;
  color: #d96073;
  width: 30px;
  text-align: center;
}

.ranking-card .info {
  flex: 1;
  margin-left: 10px;
}

.ranking-card .info .name {
  font-size: 16px;
  font-weight: bold;
}

.ranking-card .info .details {
  font-size: 12px;
  color: #666;
}

.ranking-card .icon {
  width: 35px;
  height: 35px;
  border: 1.5px solid #292d32;
  border-radius: 50%;
  background-color: #c2ffd5;
  display: flex;
  justify-content: center;
  align-items: center;
}
