/* 전체 화면 크기 조정 */
* {
  margin: 0;
  padding: 0;
}

/* header, footer 영역 (임시) */
header,
footer {
  border: 1px solid black;
  background-color: #D96073;
  width: 100%;
  height: 100px;
}

/* main 영역 */
.itAskBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* / main 안에 요소들이 담길 컨테이너 박스 (1200px 맞추기 위해 설정) / */
.lch-askDetail-topcontainer {
  width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* / 개발 큰 글씨 / */
.lch-askDetail-title {
  font-size: 50px;
  margin: 50px;
}

/* / 선택된 버튼 / */
.lch-askDetail-select {
  background: #D96073;
  color: white;
}

/* / 카테고리 버튼 담은 박스 / */
.lch-askDetail-category {
  border: none;
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}

/* / 카테고리 버튼 */
.lch-category-btn {
  width: 100%;
  border-radius: 0;
  border: none;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.lch-askDetail-tag-btn:hover {
  background-color: #e7d4d7;
}


/* 선택된 버튼 */
.lch-askDetail-select {
  background: #D96073;
  color: white;
}

/* 개발 카테고리 버튼 담은 박스 */
.lch-askDetail-category {
  width: 100%;
  height: 45px;
  display: flex;
}

/* 개발 카테고리 버튼 */
.lch-askDetail-category-btn {
  width: 100%;
  border-radius: 0;
  border: none;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

/* 글 제목 및 정보보 */
.lch-askDetail-text-total {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px 20px;
  /* 좌우 넓이 추가 */
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

/* 본문 헤더더 */
.lch-askDetail-text-header {
  margin-bottom: 20px;
}

/* 본문 제목목 */
.lch-askDetail-text-title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

/* 본문 상단 태그그 */
.lch-askDetail-text-tag {
  background-color: #D96073;
  /* 변경된 색상 */
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
}

/* 본문 내용용 */
.lch-askDetail-text-textbody {
  border: 1px solid #ddd;
  height: 800px;
  border-radius: 10px;
  padding: 15px 20px;
  /* 좌우 넓이 추가 */
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/* 본문 작성자자 프로필 */
.lch-askDetail-text-profile {
  display: flex;
  justify-items: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.lch-askDetail-text-author {
  padding-left: 10px;
}

/* 본문 하단 태그그 */
.lch-askDetail-text-bottom-tag {
  background-color: #DFDFDF;
  /* 변경된 색상 */
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

/* 게시글 내 사진 */
.lch-askDetail-qual-img{
  margin: 10px 20px;
}

/*  본문 모니터, 댓글, 공유수수  */
.lch-askDetail-content {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: #DFDFDF;
  padding: 20px;
  width: 800px;
  margin-top: 100px;
  margin-bottom: 50px;
}

#Detail-moniter-img {
  height: 30px;
  width: 30px;
}

#Detail-monitercount,
#Detail-viewcount,
#Detail-sharecount {
  font-size: 30px;
  padding-left: 20px;
}

#Detail-share-img,
#Detail-view-img {
  height: 30px;
  width: 35px;
  padding-left: 100px;
}

/* 드롭다운 */
.lch-askDetail-dropdown {
  position: relative;
  display: inline-block;
}

.lch-askDetail-dropdown-img {
  position: relative;
  padding-left: 100px;
  cursor: pointer;
  width: 40px;
  /* 이미지 크기 설정 */
  height: 40px;
}

.lch-askDetail-dropdown-menu {
  position: absolute;
  left: 150px;
  top: 20px;
  display: none;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.lch-askDetail-dropdown-menu>a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.lch-askDetail-dropdown-menu a:hover {
  background-color: #f2f2f2;
}

/* 댓글 작성, 댓글 리스트가 담긴 박스 */
.lch-askDetail-comment-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* 총 댓글 수 표시 */
.lch-askDetail-comment-count {
  font-size: 25px;
  margin: 10px;
}

/* 댓글 입력칸, 올리기 버튼이 담긴 박스 */
.lch-askDetail-comment-input {
  width: 100%;
  height: 100%;
  border: 1px solid #606060;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 0px 0px 20px 0px;
}

/* 댓글 작성 창 */
#comment-input {
  width: 100%;
  height: 50px;
  margin: 20px;
  border: none;
  resize: none;
}

/* 댓글 올리기 버튼 */
.lch-askDetail-add-btn {
  width: 80px;
  height: 100%;
  font-size: 20px;
  margin: 5px;
  background: none;
  border: none;
  color: #D96073;
}

/* 작성자, 작성된 댓글, 시간, 조회수, 모니터가 담긴 박스 */
.lch-askDetail-comment-show {
  width: 100%;
  height: 100%;
  border: 1px solid #606060;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
}

/* 작성자 */
.lch-askDetail-commnet-author {
  padding: 20px;
  color: #606060;
  font-weight: bold;
  font-size: 15px;
}

/* 작성된 댓글 */
.lch-askDetail-comment-section {
  padding: 10px 30px;
  color: #606060;
  font-size: 18px;
}

/* 삭제된 댓글  */
.lch-askDetail-delete-comment-style{
  color: red;
}

/* 작성된 시간, 조회수, 모니터가 담긴 박스 */
.lch-askDetail-comment-info {
  font-size: 15px;
  color: #606060;
  margin: 0px 0px 20px 15px;
}

/* 작성된 시간 */
/* 조회수 */
/* 모니터 */
.lch-askDetail-comment-date,
.lch-askDetail-comment-views,
.lch-askDetail-comment-monitor {
  padding: 10px;
}