/* 회원가입 페이지 2/3 : 회원정보 입력*/
*{ padding: 0; margin: 0;}

.itAskBox{
  margin: 200px auto;
  text-align: center;
  color: #606060;
  /* border: 1px solid #D96073; */
}

/* 로고 */
.logo{
  width: 370px;
  display: block;
  margin: 20px auto;
}
.itAskBox>a>img{
  width: 100%;
}
.itAskBox>p{
  font-size: 32px;
  margin-bottom: 20px;
}
.itAskBox>p>span{
  font-size: 16px;
}

/* 로그인 버튼 */
.lsa-joinFinish-login{
  width: 486px;
  height: 70px;
  display: block;
  margin: auto;
  background-color: #D96073;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  align-content: center;
}
.lsa-joinFinish-login:hover{
  color: #D96073;
  background-color: white;
  border: 1px solid #D96073;
}
